[submodule "hiddify-sing-box"]
	path = hiddify-sing-box
	url = https://github.com/PoriyaVali/hiddify-sing-box
[submodule "ray2sing"]
	path = ray2sing
	url = https://github.com/PoriyaVali/ray2sing.git
